@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Arvo');
html, body {
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

h1, p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    /* justify-content: center; */
    align-content: center;
    background-color: black;
    color: white;
    height: 110px;
    width: 100vw;
}

.header-item {
    align-self: center;
}

#menu-btn {
    float: left;
    height: 41px;
    width: 33px;
    margin: 0 85px;
    cursor: pointer;
}

#menu-btn>img {
    justify-self: center;
}

#logo {
    font-weight: bold;
    font-size: 50px;
    width: 160px;
    margin: 0 30px;
}

.nav-contact {
    width: 190px;
    background-repeat: no-repeat;
    background-position: left;
    display: grid;
    justify-content: center;
    align-content: center;
}

#nav-phone {
    margin-right: 0;
    margin-left: auto;
    background-image: url('./images/phone-icon.gif');
}

#nav-mail {
    margin-right: 0;
    width: 220px;
    background-image: url('./images/mail-icon.jpg');
}

#nav-social {
    margin-right: 180px;
    /* margin-left: auto; */
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#slider {
    display: grid;
    width: 100vw;
    height: 690px;
    background-image: url('images/slider-bg.gif');
    justify-content: center;
}

#slider>#caption {
    display: grid;
    align-content: center;
    background-color: #38384f;
    font-size: 36px;
    font-weight: bold;
    margin-top: 202px;
    padding: 0 30px;
    height: 80px;
    text-transform: uppercase;
    color: white;
}

#slider-btns>img {
    height: 10px;
}

#slider-btns {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 61px;
    grid-gap: 8px;
    margin-bottom: 12px;
    margin-top: auto;
}

.slider-btn {
    background-color: #ebebeb;
    width: 15px;
    height: 10px;
    border-radius: 40%;
}

.slider-current {
    background-color: #111111;
}

#facts {
    display: flex;
    justify-content: center;
    background-color: black;
    /* padding: 15px 0; */
    width: 100vw
}

.fact {
    /* display: grid; */
    align-content: center;
    height: 200px;
    width: 190px;
    color: #ebebeb;
    text-align: center;
    /* vertical-align: middle; */
}

.fact>.number {
    margin-top: 50px;
    font-family: 'Arvo', serif;
    font-size: 60px;
}

.fact>.label {
    margin-top: -13px;
    font-size: 18px;
}

#services {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 104px auto 249px;
    /* height: 499px; */
    width: 100vw;
    background-color: #f0f0f2;
}

#services>h1 {
    display: grid;
    align-content: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#service-text {
    margin: 0;
    font-family: 'Arvo', serif;
    font-size: 20px;
    text-align: center;
    max-width: 1155px;
    padding: 10px 15px;
    background-color: #f5f5f6;
    margin-bottom: 39px;
}

#service-icons {
    cursor: pointer;
    font-family: 'Arvo', serif;
    max-width: 789px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 155px;
}

#service-icons>.icon {
    height: 160px;
    width: 160px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #ffe1e5;
    color: white;
    font-size: 20px;
    justify-items: center;
    /* align-items: flex-end */
}

#service-icons>.icon img {
    margin-top: 30px;
}

#service-icons>.icon:nth-child(3) {
    font-size: 18px;
}

#service-icons .label {
    align-self: end;
    margin-bottom: 30px;
}

#service-icons>.current {
    background-color: #e7f3fb;
    color: #111111;
}

#projects {
    color: #ebebeb;
    height: 1452px;
    width: 100vw;
    background-color: #000000;
}

#projects>h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 25px;
    letter-spacing: 3px
}

#projects-types {
    margin: 0 auto;
    margin-bottom: 40px;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    color: #ebebeb;
    text-transform: uppercase;
    max-width: 920px;
    font-size: 24px;
    font-family: 'Arvo', serif;
}

#projects-types .selected {
    color: #297db6;
}

#projects-types>span {
    cursor: pointer;
}

.circle {
    cursor: pointer;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 3px solid #ebebeb;
}

.selected>.circle, .circle.selected {
    border-color: #297db6;
}

#projects-container {
    max-width: 918px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-gap: 33px
}

.project {
    background-color: #ebebf2;
    height: 284px;
    width: 285px;
}

.project.checked {
    background-color: #fbe3ea;
}

.project.checked .icons {
    margin: 0 78px;
    margin-top: 120px
}

.project.checked .icons img:nth-child(2) {
    float: right;
}

#blogs {
    display: grid;
    text-align: center;
    height: 542px;
    width: 100vw;
    background-color: #2c3e6a;
    color: #ebebeb;
}

#blogs>h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 33px;
    font-size: 30
}

#blogs>p {
    font-family: 'Arvo', serif;
    font-size: 20px;
    padding-bottom: 34px;
}

#blogs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 1110px;
    margin: 0 auto;
}

.blog {
    cursor: pointer;
    color: #111111;
    background-color: #ebebf6;
    height: 243px;
    width: 255px;
    border-radius: 10px;
}

.blog h2 {
    text-transform: uppercase;
    margin-top: 155px;
    margin-bottom: 15px;
    font-size: 20px;
}

.blog p {
    font-size: 18px;
}

#blog-buttons {
    display: grid;
    height: 85px;
    grid-gap: 11px;
    align-content: center;
    justify-content: center;
    grid-auto-flow: column;
    margin: auto;
}

#about {
    color: #ebebeb;
    /* height: 837px; */
    width: 100vw;
    background-color: #000000;
    padding-bottom: 44px;
}

#about-info {
    max-width: 1172px;
    height: 433px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 160px;
    margin: 0 auto;
    margin-bottom: 55px;
}

#about-info h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 37px 0;
}

#about-info p {
    max-width: 276px;
    font-size: 18px;
    font-family: 'Arvo', serif;
    line-height: 30px;
}

#map {
    display: grid;
    justify-items: center;
}

#map img {
    max-width: 1172px;
}

#copyright {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 99px;
    width: 100vw;
    background-color: #111111;
}

#copyright p {
    font-weight: bold;
    color: #ebebeb;
    width: 1172px;
    font-size: 18px;
    text-transform: uppercase;
}